$red: #FF0000;
$yellow: #FFFF00;
$green: #008000;
$blue: #0000FF;
$black: #000000;
$white: #FFFFFF;

$no-color: $white;
$top-color: $red;
$middle-color: $yellow;
$bottom-color: $green;

// Styles wrapped in .light-app to ensure accurate scoping
.light-app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;

  .traffic-light {
    align-items: center;
    background-color: $black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-around;
    padding: 10px 0px;
    width: 130px;

    &:hover {
      cursor: pointer;
    }
  }

  .light {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }

  .top-light {
    background-color: $no-color;

    &.active {
      background-color: $top-color;
    }
  }

  .middle-light {
    background-color: $no-color;

    &.active {
      background-color: $middle-color;
    }
  }

  .bottom-light {
    background-color: $no-color;

    &.active {
      background-color: $bottom-color;
    }
  }

  .button {
    background: $blue;
    border-radius: 5px;
    color: $white;
    margin: 2px 0;
    padding: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}